.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.formPg .buttonCol button {
  margin-top: 26px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/** Footer  **/

.socialList {
  font-size: 28px;
}
.socialList a {
  padding: 2px;
  -webkit-transition: ease-in-out 0.2s; /* Safari */
  transition: ease-in-out 0.2s;
}

/* Social colors */

a.github:hover {
  color: #444!important;
}
a.twitt:hover {
  color: #55ACEE!important;
}
.linkedin:hover {
  color: #0077B5!important;
}
/* Rule impact */
.ng-scope.success {
  background-color: green;
}
.ng-scope.danger {
  background-color: red;
}

.formattedRes p.summary {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.containerRes {
  margin-top: 30px;
}

.warning.material-icons {
  color: red;
}
.verified_user.material-icons {
  color: green;
}
.info.material-icons {
  color: orange;
}

.img-responsive {
  max-width: 100%;
}

.logo {
  width: 250px;
}

/*** LINK mod **/

.collapsible-body a {
  border-bottom: 2px solid;
}
.amber.darken-2 a,
.red.darken-3 a  {
  color: #FFF;
}

.long-url {
  word-wrap: break-word;
}



.gaugeChart {
  min-height: 200px;
  padding-top: 30px!important;
}
.gaugeChart table div div {
  margin: 0 auto;
}

.blockLinks {
  margin: 0px 35px 35px;
}


.animated.bounceIn.done {
  font-size: 50px;
}



/*** CUSTOMIZE Materilize CSS input color ***/
  /* label color */
   .input-field label {
     color: #1976D2;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #1976D2;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #1976D2;
     box-shadow: 0 1px 0 0 #1976D2;
   }
   /* valid color
   .input-field input[type=text].valid {
     border-bottom: 1px solid #1976D2;
     box-shadow: 0 1px 0 0 #1976D2;
   }*/
   /* invalid color
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #1976D2;
     box-shadow: 0 1px 0 0 #1976D2;
   }*/
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #1976D2;
   }



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
