<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman">
  </p>
</div>

<div ng-controller="MainCtrl" class="row marketing">
  <form id="formPgSpeed" class="formPg">
    <div class="input-field col m8">
      <input id="site-url" type="text" ng-model="site.url">
      <label for="site-url"> Site url (ex: http://example.com) </label>
    </div>
    <div class="col m4 buttonCol">
      <button class="btn waves-effect waves-light" ng-click="submit()">Submit
         <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
  
  <!--h1>You entered: {{site}}</h1-->
  <!-- Results -->
  <div>
      <div ng-if="loading" class="progress">
          <div class="indeterminate"></div>
      </div>
      <div ng-if="results.error === false" ng-include="'views/partials/_pageSpeedResult.html'" class=""></div>
      <div class="col m12" ng-if="results.error === true">{{results.msg}}</div>    
  </div>
</div>
