<div class="jumbotron animated fadeIn">
  <div class="row">
    <div class="col m12">
      <p class="lead">
        <img class="img-responsive" src="images/ng-pageSpeed.png">
      </p>
    </div>
  </div>
</div>

<div ng-controller="MainCtrl" class="row marketing">
  <div class="row">
    <div class="col m12">
      <form id="formPgSpeed" class="formPg">
        <div class="input-field col m9 s12 animated slideInLeft">
          <input id="site-url" type="text" ng-model="site.url" class="validate" required="" aria-required="true">
          <label for="site-url"> Site url (ex: http://example.com) </label>
        </div>
        <div class="col m3 s12 buttonCol animated bounceIn">
          <button class="btn col s12 blue darken-2 waves-effect waves-light" ng-click="submit()">Submit
             <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ng-ps-home -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8990764504926559"
           data-ad-slot="6560554028"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
  
  <!--h1>You entered: {{site}}</h1-->
  <!-- Results -->
  <div class="">
    <div class="">
      <div ng-if="loading" class="progress blue darken-2">
          <div class="indeterminate amber lighten-2"></div>
      </div>
      <div ng-if="results.error === false" ng-include="'views/partials/_pageSpeedResult.html'" class=""></div>
      <div class="col m12 red darken-2 white-text z-depth-3 animated tada" ng-if="results.error === true">
        <p>
          <i class="material-icons left">report_problem</i> {{results.msg}} 
        </p>        
      </div>
    </div>
  </div>
</div>
